.title {
  color: $--title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 0;
}

.section-features {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.features-title {
  color: $--title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  margin-top: 0;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
/* calc ((100% - кол-во маржинов в строке * значение маржина) / кол-во єлементов в строке */

.features {
  display: flex;
  flex-wrap: wrap;

  margin: -15px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin: 0;
  }
}

.features-item {
  margin: 15px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 0;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 4);
    margin: 0;
    margin-right: 30px;

    &:nth-child(2n) {
      margin-right: 30px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.container-features {
  background-color: $--secondary-bg-color;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;

  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    flex-wrap: wrap;
    width: 270px;
    height: 120px;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.features .paragraph {
  color: $--primary-text-color;
  font-size: 14px;
  line-height: 1.71;
}
