.menu-button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-crosss {
  display: none;
}

.menu-button.is-open .icon-crosss {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: #fff;
  padding: 60px 140px;
  text-align: center;
  font-size: 20px;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    height: 453px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (min-width: 768px) {
    margin-left: 88px;
    display: flex;
    padding: 0;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.site-nav,
.nav-address {
  // height: 40px;
  // width: 50px;
}

.navigation {
  // outline: 1px solid teal;
}

.contacts {
  // outline: 1px solid orange;
}
