header {
  position: relative;
}

.nav .logo {
  color: $--nav-logo-color;
}

.container-nav {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.nav {
  display: flex;
  align-items: center;
  padding: 16px 0px;

  @media screen and (min-width: 768px) {
    padding: 0;
  }
}

.site-nav {
  padding: 60px 0px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    // display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    padding: 0;
  }
}

.site-nav .item + .item {
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    margin-left: 50px;
  }
}

.site-nav .link {
  color: $--title-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $--accent-color;
  }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav .link.current {
  color: $--accent-color;
}

.item {
  position: relative;
}

.item .current::after {
  content: '';

  bottom: 0;
  left: 0;

  display: inline-block;
  background-color: $--accent-color;

  width: 100%;
  height: 4px;

  border-radius: 2px;

  @media screen and (min-width: 1200px) {
    position: absolute;
  }
}

.nav-address {
  // display: none;

  @media screen and (min-width: 1200px) {
    color: $--primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: flex;
    margin-left: auto;
    align-items: baseline;
  }
}

.nav-address .item + .item {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.nav-address .link:hover,
.nav-address .link:focus {
  color: $--accent-color;
}

.nav .link:hover,
.nav .link:focus {
  color: $--accent-color;
}

.nav-address svg {
  fill: currentColor;

  padding: 0;
  margin-right: 10px;
}
