.container-projects {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.projects-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-img {
  position: relative;
  overflow: hidden;
}

.submenu {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: auto;

  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.6;

  color: $--primary-bg-color;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover .submenu,
.projects-link:focus .submenu {
  transform: translateY(0%);
}

.projects-title {
  color: $--title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.projects-text {
  box-sizing: border-box;
  border: 1px solid $--border-cards-color;
  border-top: none;
  padding: 20px 24px;
}

.projects .paragraph {
  color: $--primary-text-color;
  font-size: 16px;
  line-height: 1.87;
}
