.work {
  display: flex;
}

.work-title {
  color: $--title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.work-photo {
  position: relative;

  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.label {
  color: $--primary-bg-color;
  background-color: rgba(47, 48, 58, 0.8);

  position: absolute;
  bottom: 0;
  left: 0;

  padding: 27px 0px;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}
