.team {
  display: flex;
}

.team-card {
  background-color: $--primary-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  width: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.team-paragraph {
  color: $--primary-text-color;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-team {
  background-color: $--secondary-bg-color;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-bottom: 10px;
}

.title-team {
  color: $--title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.team-text {
  padding: 30px 32px;
}

.section .title {
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.social-links {
  display: flex;
  margin-top: 16px;
}

.social-link {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

.item-links {
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $--accent-color;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}
