html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $--primary-bg-color;
  color: $--title-text-color;

  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  padding: 0;
  margin: 0;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.link {
  color: $--primary-text-color;

  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg {
  fill: $--border--color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg:hover {
  fill: $--primary-bg-color;
}

.list {
  text-decoration: none;
  list-style: none;

  padding: 0;
  margin: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.logo {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
}

.web {
  color: $--accent-color;
}

button {
  background-color: $--secondary-bg-color;
  color: $--title-text-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;

  border: 0px solid transparent;
  padding: 6px 24px;
  border-color: $--secondary-bg-color;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $--primary-bg-color;
    background-color: $--accent-color;
    border-color: $--accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
