$--primary-text-color: #757575;
$--nav-logo-color: #000000;
$--title-text-color: #212121;
$--footer-bg-color: #2f303a;
$--footer-text-color: rgba(255, 255, 255, 0.6);
$--accent-color: #2196f3;
$--primary-bg-color: #ffffff;
$--secondary-bg-color: #f5f4fa;
$--tertiary-bg-color: #c4c4c4;
$--overlay: rgba(47, 48, 58, 0.4);
$--border--color: #afb1b8;
$--border-cards-color: #eeeeee;

$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
$alternative-logo-font: 'Oleo Script', sans-serif;
